*00_run_pipeline*
*.js
*.css
*.bam
*.bai
*star_salmon
*.bigWig
*.gz*
*.summary
*.json
*.sf
.Rproj.user
.Rhistory
.Ruserdata
*GENOME*
.Rproj.user
.Rhistory
.Ruserdata
*fastq*
.nextflow*
log/*
work/*
*.Rproj
*.gtf
*.pdf
*.rda
*.tbl
*.feather
*.log
*.html
*.err
*.out
*cache*
*.cnt
*.bam
*.bai
*.zip
*work*
*.bedGraph
*qc*
*align*
*.svg
*.bdg
*bin*
*.txt
*.gtf
*fa
*.bed
*.gz
lessons/04_RNAseq_Dox/01_Mouse_dox_wt/dox_long/job_output/
lessons/
.DS_Store